@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'slick-carousel/slick/slick.css';

@font-face {
    font-family: 'BrownLL-Regular';
    src: url('./BrownLL-Regular.woff') format("woff"), url('./BrownLL-Regular.woff2')
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

body, .h0, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'BrownLL-Regular';
}

@import 'image-banner';
@import 'rich-text';
@import 'multicolumn-products';
@import 'review';
@import 'footer';


// Snippets
@import 'snippets/card-product';
// Apps
@import 'instafeed';

